.settingHeader {
  display: flex;
  align-items: center;
  text-align: center;
  width: 370px;
  height: 56px;
  position: relative;
}

.left {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 40px;
}

.center {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 0 0 auto;
  min-width: 40px;
}

.settingHeader a {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding-left: 0;
}

.arrowButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
