.smallSecondButton {
  width: 161px;
  height: 47px;
  border-radius: 52px;
  background-color: #292e37;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  border: 1px solid #ffcb3e;
  color: #ffcb3e;
}
