.notificationContainer {
  width: 370px;
  min-height: 234px;
  background-color: #292e37;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 24px 24px 24px;
  box-sizing: border-box;
  text-align: center;
}

.notificationTitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px; /* 90.625% */
  text-align: center;
  margin: 36px 0 0 0;
}

.notificationTime {
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  margin: 16px 0 30px 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  gap: 16px;
}
